/* 
    Document   : style
    Created on : Mar 17, 2014, 11:28:14 PM
    Author     : Priyanshu
    Description:
        Purpose of the stylesheet follows.
*/
*{margin:0px;padding:0px;}
body,html{height:100%;}
body{
    /*background:url("http://localhost/creworsha/assets/bgs/cat-one/BG01.jpg") repeat scroll 0 0 #8E4423;*/
    background:url("http://localhost/creworsha/assets/bgs/cat-two/ideas.png") repeat scroll 0 0 #8E4423;
}
/*
* HEADER SECTION
*/
header{
    line-height: 25px;
    height:80px;
    width:95%;
    padding-left:2.5%;
    padding-right:2.5%;
    margin: 0 auto;
    color:#ffffff;
    background : url('../images/pattern_bg.png') #8E4423;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 9px 2px #000000;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin-left:15px;
    margin-right:15px;
}

nav ul li a:hover{
    color:#994B27;
}
.nav-current{
    color:#4F3327;
}
.gutter{
    width:100%;
    height:25px;
    border-radius: 5px;
    /*padding-left:4px;*/
    padding-top:2px;
    box-shadow: 0 0 9px 2px #000000 inset;
}
.button-type-a{
    width:100px;
    background:#994B27;
    padding-top:5px;
    height:20px;
    text-align: center;
    line-height: 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #000000;
}
.button-type-b{
    width:150px;
    margin:0 auto;
    color:#ffffff;
    background:#3a3a3a;
    height:30px;
    text-align: center;
    line-height: 28px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #000000;
}

/*
END HEADER SECTION
*/

/*============================================*/
/*
* TEXT STYLES
*/
.simple-white{
    color:#ffffff;
    text-decoration: none;
}
.simple-themed{
    color:#994B27;
    text-decoration: none;
}
.simple-black{
    color:#4F504B;
    text-decoration: none;
}
.simple-black-thin{
    color:#4F504B;
    text-decoration: none;
    font-weight: lighter;
}
.simple-white-thin{
    color:#ffffff;
    text-decoration: none;
    font-weight: lighter;
}
.simple-themed-thin{
    color:#994B27;
    text-decoration: none;
    font-weight: lighter;
}
.bold-white{
    color:#ffffff;
    text-decoration: none;
    font-weight: bolder;
}
.bold-themed{
    color:#994B27;
    text-decoration: none;
    font-weight: bolder;
    font-family: biko;
}
.tiny-sub-text-gray{
    color:#ffffff;
    font-family: cursive;
    font-size:10px;
}
/*=========FONTS=========*/
@font-face
{
font-family: downtown;
src: url(fonts/downtowneleganceregular.ttf);
} 
@font-face
{
font-family: biko;
src: url(fonts/biko.otf);
} 


/*========END FONTS===========*/
/*
END TEXT STYLES
*/


/*
ADJUSTMENTS
*/
.gap{
    margin-left:15px;
    margin-right:15px;
}
.gap-custom1{
    margin-left:10%;
}
.gap-custom2{
    margin-top:300px;
}
.gap-bottom{
    padding-bottom: 100px;
}
.gap-large{
    margin-left:25px;
    margin-right:25px;
}
.gap-top{
    margin-top:15px;
}
.gap-top-large{
    margin-top:25px;
}
.gap-top-small{
    margin-top:10px;    
}
.gap-left{
     margin-left:15px;   
}
.gap-right{ 
     margin-right:15px;   
}
.center{
    margin:0 auto;
    text-align: center;
}
/*
END ADJUSTMENTS
*/

/*
SEPARATERS AND BARS
*/
.bar{
    margin-left:10px;
    margin-right:10px;
    border-left: 1px solid #ff0000;
}
.bar-horizontal{
    width:100%;
    border-top:1px solid #000000;
}
.bar-vertical{
    width:1px;
    height:100%;
    border-right:1px solid #ffffff;
}
.by-four{
    width:25%;
}
.by-two{
    width:50%;
}
.by-three{
    width:33.33%;
}
/*
END SEPARATERS AND BARS
*/
/*=======================================================*/
#wrapper{
    height:100%;
    width:960px;
    margin:0 auto;
}

/*
SLIDER STYLES
*/
#slider{
    padding-top:20px;
    width:100%;
    height:300px;
    margin:0 auto;
    text-align: center;
    /*background:#3a3a3a;*/
}
.slider-nav{
    width:100px;
    height:30px;
    position: absolute;
    background:#000000;
    line-height: 28px;
    color:#ffffff;
}
.slider-nav-left{
    z-index:4;
    margin-top:-160px;
    margin-left:270px;
}
.slider-nav-right{
    z-index:5;
    margin-top:-160px;
    margin-left:580px;
}
.slide{
    width:290px;
    height:290px;
    display:inline-block;
    border-radius: 100%;
    border:2px solid #000000;
    margin:0 auto;
}
#slide-center{
    z-index:3;
    background: url('http://www.sca.com/Global/China/Career/2013_work_at_SCA.jpeg');
    position:relative;
}
#slide-left{
    z-index:1;
    position:relative;
    margin-right: -100px;
    background: url('http://www.meltwater.com/wp-content/uploads/2013/08/Blog-Topic-Ideas.jpg');
}
#slide-right{
    z-index:2;
    position:relative;
    margin-left: -100px;
    background: url('http://www.northernrockies.ca/assets/City~Hall/Images/OngoingProjects.jpg');
}
/*
END SLIDER STYLES
*/

/*
FEATURED STYLES
*/
#featured{
    width:100%;
    height:280px;
    background : url('../images/pattern_bg.png') ;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0 0 5px 1px #000000;
}
#featured-top{
    width:100%;
    text-align: center;
    z-index:9;
}
#featured-top-container{
    margin:0 auto;
    box-shadow: 0 0 5px 1px #000000;
    line-height: 40px;
    height: 40px;
    border-radius: 10px 10px 0 0 ;
    background : url('../images/pattern_bg.png') #8E4423;
    width:200px;
}
#featured-content{
    padding-top:50px;
}
.feat-images ul li{
    list-style: none;
    width:100px;
    height:100px;
    display: inline-block;
    border:5px solid #994B27;
    box-shadow: 0 0 5px 1px #000000;
}
.feat-nav{
    font-weight: bolder;
    text-decoration: none;
    color:#994B27;
}
.feat-badge{
    
}
#feat-details{
    width:50%;
}
/*
END FEATURED STYLES
*/
.bg-gap{
    height:20px;
    background: #8E4423;
    box-shadow: 0 0 1px 1px #000000;
    border-radius: 5px 5px 0 0;
}
/*
START CREWORSHA STYLES
*/
#creworsha{
    width:100%;
    height:600px;
    background:#E6E3BB;
    /*box-shadow: 0 0 9px 2px #000000;*/
}
#creworsha-details{
    text-align: center;
}
#creworsha-details ul li{
 list-style: none;
 display: inline-block;
 margin-top:-65px;
}   
.creworsha-block{
    text-align: center;
    width:25%;
}
.creworsha-image{
    width:100px;
    border:5px solid #8E4423;
    box-shadow: 0 0 9px 2px #ffffff inset;
    height:100px;
    overflow:hidden;
    margin:0 auto;
    border-radius: 100%;
}
 /********** TAB AREA *********/
 #tabs-area{
     width:90%;
     margin:0 auto;
 }
 
 #tabs{
     width:auto;
     text-align: center;
     height:20px;
 }     
#tabs ul li{
 list-style: none;
 display: inline-block;
 background : url('../images/pattern_bg.png') #8E4423;
 padding:0;
 cursor: pointer;
 margin-left:-3px;
}
.tab{
    width:150px;
    height:20px;
    border-radius: 10px 10px 0 0 ;
    background:blue;
}
#tabs-content{
    width:100%;
    height:150px;
    background:#ffffff;
}
.tab-content-wrapper{
    margin:0 auto;
    text-align: center;
    width:86.5%;
    height:100%;
}
.tab-content{
    width:29.32%;
    height:100%;
    overflow: auto;
}
/*
END CREWORSHA STYLES
*/


/*
LOGIN PAGE STYLES
*/
#login-wrapper{
        width:960px;
        position:relative;
        height:100%;
        background : none repeat scroll 0 0 rgba(0, 0, 0, 0.6); 
        border-radius: 10px 10px 0 0 ;
        box-shadow: 0 0 5px 1px #000000;
        z-index:1;
        overflow:hidden;
}
.login-greeter{
    width:300px;
    height:300px;
    margin-top:25%;
    border-radius: 100%;
    z-index:99;
    overflow:hidden;
    border: 5px solid #994B27;
    box-shadow:0px 0px 17px 5px #000000;
    cursor:pointer;
}
.login-greeter img{
    margin-left: -62px;
    margin-top: 0px;
    width:430px;
    height:330px;
}
#login-form{
    background:#5E5959;
    position:absolute;
    width:70%;
    height:100%;
    border-radius:0 0 50% 0;
}   
.reg-error > span {
    color: #FAFAFA;
    display: inline-block;
    margin-bottom: 5px;
}
.vertical-center{
    margin-top:25%;
}
#uploading-status{
    background: none repeat scroll 0 0 #242729;
    height: 3000px;
    overflow: hidden;
    position: inherit;
    top: -106%;
    width: 1000px;
}
#uploading-content {
    color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    margin: 19% 0 0 26%;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
#uploading-success{
        background: none repeat scroll 0 0 #242729;
    height: 3000px;
    left: -12%;
    overflow: hidden;
    position: inherit;
    top: -109px;
    width: 1000px;
}
.success-but {
    cursor: pointer;
    text-decoration: none !important;
}
#registration-form{
    background:#3a3a3a;
    position:absolute;
    width:70%;
    left:30%;
    height:100%;
    border-radius:0 0 0 50%;
}

.form-input {
    height: 34px;
    text-align: center;
    width: 400px;
    border-radius:50px;
    border:none;
    margin-bottom:5px;
}
.form-input-half{
    width:194px!important;
}
.success-img{
    width:500px;
    height:430px;
    overflow:hidden;
    background:url('http://localhost/creworsha/assets/images/success.jpg') no-repeat #242729;
}
.success-img.center > img {
    margin-left: -80px;
}
.success-text{
    margin-top:40px;
    margin-left:30px;
}
input[type="submit"] {
    cursor:pointer;
}
/*
END LOGIN PAGE STYLES
*/


/*
FOOTER
*/
footer{
    height:250px;
    background: #E6E3BB;
    padding-left:10px;
    padding-top:30px;
}
footer ul li{
    padding : 4px;
    display:inline-block;
}
.list li{
    display:block;
}
.small-hr{
    width:75%;
}
.footer-block-special img{
    width:50px;
    height:50px;
    border:5px solid #8E4423;
}
.footer-block{
    width:23.33%;
}
.footer-block-special{
    width:30%;
}
#sub-footer{
    width:100%;
    background : url('../images/pattern_bg.png') #8E4423;
    border-radius: 0 0 10px 10px ;
    height:50px;
    margin-bottom: 50px;
}
/*
END FOOTER
*/



/*
EXTRA GENERATED CSS (TALK BUBBLES,ETC)
*/


/* TALK BUBBLE */
.bubble 
{
position: relative;
width: 250px;
height: 120px;
padding: 1px;
background: #ffffff;
border: #7D7F7F solid 2px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.bubble:after 
{
content: "";
position: absolute;
bottom: -33px;
left: 117px;
border-style: solid;
border-width: 33px 9px 0;
border-color: #ffffff transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before 
{
content: "";
position: absolute;
top: 124px;
left: 116px;
border-style: solid;
border-width: 34px 10px 0;
border-color: #7D7F7F transparent;
display: block;
width: 0;
z-index: 0;
}




.bubble-qs
{
position: relative;
width: 430px;
height: 120px;
padding: 4px;
margin-bottom:30px;
margin-top:80px;
background: #ffffff;
border: #7D7F7F solid 2px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-align: left;
}

.bubble-qs:after 
{
content: "";
position: absolute;
bottom: -29px;
left: 207px;
border-style: solid;
border-width: 33px 9px 0;
border-color: #ffffff transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-qs:before 
{
content: "";
position: absolute;
top: 124px;
left: 206px;
border-style: solid;
border-width: 34px 10px 0;
border-color: #7D7F7F transparent;
display: block;
width: 0;
z-index: 0;
}
/* END TALK BUBBLE */
.greeter-buddy{
    background:#ffffff;
    padding:5%;
    border-radius: 30%;
}

/*
SLIDER
*/
#wizard-slider{
    height:100%;
    width:2880px;
}
.wizard-aslide{
    display:inline-block;
    width:960px;
    float:left;
}
.wizard-slider-nav-next{
    background: url('http://localhost/creworsha/assets/icons/next.png') no-repeat;
    width:82px;
    height:84px;
    margin-top:-16px;
    cursor:pointer;
    position:absolute;
    transform:  translateY(220px) translateX(930px);
	-webkit-transform:  translateY(220px) translateX(930px);
    z-index:99;
}
.wizard-slider-nav-next:hover{
       background: url('http://localhost/creworsha/assets/icons/next.png') 0 -86px no-repeat;
}
.wizard-slider-nav-prev{
    background: url('http://localhost/creworsha/assets/icons/prev.png') no-repeat;
    width:82px;
    height:84px;
    margin-top:-16px;
    cursor:pointer;
    position:absolute;
    transform:  translateY(220px) translateX(-50px);
	-webkit-transform:  translateY(220px) translateX(-50px);
    z-index:99;
}
.wizard-slider-nav-prev:hover{
       background: url('http://localhost/creworsha/assets/icons/prev.png') 0 -86px no-repeat;
}

/*
************** IDEAS ***********************
*/
.ideas-page{
    text-shadow: 2px 2px #000000;
    font-size: 40px;
    padding-top:20px;
}
.ideas-page-sub{
    text-shadow: 1px 1px #000000;
    font-size: 20px;
    padding-top:20px;
}
.ideas-title{
    display:inline-block;
    border-radius:0 30px 30px 0;
    font-size:40px;
}
#ideas-sort{
    background:#3a3a3a;
    width:auto;
    display:inline-block;
    box-shadow: 5px 5px 12px 0px #000000 inset;
    border-radius: 10px;
    overflow: hidden;
}
#idea-browser{
    width:100%;
    display:inline-block;
    background : none repeat scroll 0 0 rgba(0, 0, 0, 0.6); 
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0 0 5px 1px #000000;
}
.an-idea{
    height:360px;
    margin:10px;
    overflow: hidden;
    border:1px solid #ffffff;
}
.an-idea-overlay{
    cursor:pointer;
    height:360px;
    width:455px;
    position:absolute;
    color:#ffffff;
    background: rgba(0,0,0,0.8);
}
.an-idea-overlay img{
    padding-top:30px;
}
.idea-image {
    border: 7px solid #FFFFFF;
    height: 203px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 443px;
}
.idea-title{
    width:100%;
    text-align: left!important;
    color: #fefefe;
    font-weight: bold;
    font-size: 20px;
}
.author-info{
    float:left;
    text-align: left;
    width:100%;
}
.author-name{
    color:#ffffff;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
}
.idea-likes{
    margin-left: 72px;
    margin-top: -8px;
}
.idea-likes ul li{
    list-style: none!important;
    display: inline-block;
    margin-left:-4px;
}
.idea-likes ul{
    margin-left: 42px;
    margin-top: -14px;
}
.idea-desc{
    width:100%;
    text-align: left;
    display: block;
    color: wheat;
    text-shadow: 1px 1px #000000;
}
.more a{
    color:#ffffff;
    text-decoration: none;
    background: #3a3a3a;
    padding-bottom: 4px!important;
    padding-top: 4px!important;
    border-radius: 0 10px 10px 0;
}
.an-idea-by-two{
    width:47.5%;
}
#ideas-sort ul li{
list-style: none;
display:inline-block;
padding:12px;
color:#ffffff;
margin-left:-10px;
cursor:pointer;
}
#ideas-sort ul li a{
    color:#ffffff;
    text-decoration: none;
}
#ideas-sort ul li:hover{
background:#000000;    
}
#ideas-sort .selected{
background:#000000;
}
#idea-wizard-progress ul li{
    list-style: none;
    display:inline-block;
    position: relative;
    margin-left:-10px;
}
#idea-wizard-progress ul li img{
    width:28px;
    height:28px;
}
.idea-wizard-progress-bar{
  width:140px;
  height:12px;
  display: inline-block;
  margin-bottom:8px;
  margin-right:-16px;
  margin-left:-16px;
}
.idea-wizard-progress-bar-ind{
     background: none repeat scroll 0 0 #008000;
    height: 13px;
    margin-top: 10px;
    overflow: visible !important;
    width:0px;
}
#idea-wizard-progress {
    overflow: hidden;
}
.view-idea{
    margin-top:50px;
}
#view-idea-wrapper{
        width:960px;
        position:relative;
        height:150%;
        background : none repeat scroll 0 0 rgba(0, 0, 0, 0.6); 
        border-radius: 10px 10px 0 0 ;
        box-shadow: 0 0 5px 1px #000000;
        z-index:1;
        overflowX:hidden;
        overflowY:auto;
}
#idea-con-form textarea{
    width:400px;
    min-width: 400px;
    max-width: 400px;
    height:200px;
    min-height: 200px;
    max-height: 200px;
    
}
    /* QUOTES */
 
.oval-speech:before {
    background: none repeat scroll 0 0 #5A8F00;
    border-bottom-right-radius: 80px 50px;
    border-right: 60px solid #5A8F00;
    bottom: -30px;
    content: "";
    height: 30px;
    position: absolute;
    right: 50%;
    transform: translate(0px, -2px);
	-webkit-transform: translate(0px, -2px);
    z-index: -1;
}
.oval-speech:after {
    background: none repeat scroll 0 0 #242729;
    border-bottom-right-radius: 40px 50px;
    bottom: -30px;
    content: "";
    height: 30px;
    position: absolute;
    right: 50%;
    transform: translate(-30px, -2px);
	-webkit-transform: translate(-30px, -2px);
    width: 60px;
    z-index: -1;
}
.oval-speech {
    background: linear-gradient(#B8DB29, #5A8F00) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 220px / 120px;
    font-size: 12.5px!important;
    color: #FFFFFF;
    margin: 1em auto 50px;
    padding: 50px 40px;
    position: relative;
    text-align: center;
    width: 270px;
}
 

.oval-thought:before {
    background: none repeat scroll 0 0 #075698;
    border-radius: 30px;
    bottom: -20px;
    content: "";
    height: 30px;
    left: 50px;
    position: absolute;
    width: 30px;
}
.oval-thought:after {
    background: none repeat scroll 0 0 #075698;
    border-radius: 15px;
    bottom: -30px;
    content: "";
    height: 15px;
    left: 30px;
    position: absolute;
    width: 15px;
}
.oval-thought {
    background: linear-gradient(#2E88C4, #075698) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 220px / 120px;
    color: #FFFFFF;
    margin: 1em auto 80px;
    padding: 50px 40px;
    font-size: 12.5px!important;
    position: relative;
    text-align: center;
    width: 270px;
}
.files{
    background:#ffffff;
}
.table{
    border:2px #B8DB29 groove;
}
.round-but{
    background:#ffffff!important;
    border-radius: 20px;
    width:20px;
    height:20px;
}
.upload-form{
    max-height:300px;
    overflow-x: hidden;
}
.name{
    display:none;
}
.form-actual{
    max-height:300px;
    overflow-x: hidden;
}
#fileupload{
        background: none repeat scroll 0 0 #3A3A3A;
        border-radius: 32px;
        box-shadow: 0 0 6px 5px #000000;
        height: 50%;
        width: 640px;
}
#idea-title {
    height: 54px;
    margin-bottom: 28px;
    margin-top: 192px;
    width: 568px;
}
#idea-desc {
    height: 160px;
    max-height: 160px;
    min-height: 160px;
    margin-bottom: 28px;
    margin-top: 92px;
    width: 560px;
    max-width: 560px;
    min-width: 560px;
}
#stella-thinking-wizard {
    margin-left: -128px;
    margin-top: 176px;
}
.stella-msg{
    background:rgba(255,255,255,1)!important;
    height:100%!important;
    display:inline-block!important;
}
.stella-error{
    background: transparent!important;
}
.stella-error a{
    color:red;
}
.error-wizard{
    margin-left:400px;
}
    /* END QUOTES */
    #user-name{
        cursor:pointer;
    }
    #push-pane {
    background: url('../bgs/cat-one/panel.png');
    margin-top:-10px;
    color:#ffffff;
    box-shadow: 0 0 28px 4px #000000 inset;
    height: 0;
    overflow: hidden;
    width: 960px;
}
#notification{
    background:red; 
}
#notification-bubble {
    background: none repeat scroll 0 0 #DE1F00;
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
    margin-left: 10px;
    padding: 1px;
}
.notif-button{
    cursor:pointer;
}  
.idea-files-list ul li{
    list-style: none;
}
.idea-files-list{
    max-height:300px;
    background:#3a3a3a;
    overflow:auto;
}
.idea-files-list ul li a{
    color:#ffffff;
}

#deploy {
    background: none repeat scroll 0 0 #DE1F00;
    border-radius: 100%;
    display: inline-block;
    height: 100px;
    color:#ffffff;
    line-height: 100px;
    padding: 50px;
    width: 100px;
}
/*
****************** END IDEAS ****************
*/
